*.hi
*.o
TrianguloArea
RetornaMenor
Iguais
Diferentes
MediaPonderada
CalcularDesconto
Xor
DecimoTermoProgressaoAritmetica
PositivoNegativoNulo
Nand
EhDigito
MaiusculaParaMinuscula
MinusculaParaMaiuscula